.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
  	padding: 0.2em 0;
}
body {
	background: #fafafa;
	font-family: 'Oregano', cursive, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}
@font-face {
	font-family: "Oregano";
	font-weight: 400;
	font-style: normal;
	src: url("https://fonts.googleapis.com/css?family=Oregano&display=swap");
	font-display: swap;
}
/*NAVBAR CSS*/
.navbar-brand {
	font-family: "Oregano";
}
/*HEADER CSS*/
header {
	background: url(../images/web-development-bg1.jpeg);
	width: 100%;
	color: white; 
	font-family: 'Oregano', Helvetica;
}
.header-container {
	margin: 0em auto 0 auto;
}
.header-title {
	text-align: center; 
}
.header-computer {
	margin: 0em auto 0em auto;
}
#header-image {
	width: 20em;
	display: table-cell;
	margin: 0em auto 0em auto;
}